<!DOCTYPE html>
<html>

<head>
    <title>Laura's site</title>
</head>

<body>
  <h1>Hello!</h1>
  <p>This is my welcome blurb!</p>
  <h2>About me</h2>
  <ul>
    <li>I am teaching a class</li>
    <li>I am in Toronto</li>
  </ul>
  <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=640:*" alt="golden retriever puppy">
  <a href="www.lighthouselabs.ca">Lighthouse labs website</a>
  <form>
    <label for="email">Email:</label>
    <input type="email" id="email" placeholder="example@email.com">
    <button type="submit">Submit</button>
  </form>

</body>

</html>